.pagination {
  display: flex;
  gap: 0.6rem;
  justify-content: center;
  margin-top: 2rem;
}
.pagination span {
  border: 1px solid grey;
  cursor: pointer;
  font-size: 0.7rem;
  padding: 3px;
}
.page-selected {
  background-color: tomato;
}
.disable {
  opacity: 0;
}
